.header {
  color: #fff;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > div {
  margin: 10px;
}

.punkLogo {
  width: 200px;
}

.searchContainer {
  background-color: #1c1c1e;
  height: 50px;
  flex: 1;
  display: flex;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  align-items: center;
}

.searchIconContainer {
  margin: 10px;
}

.searchInput {
  background-color: transparent;
  border: none;
  width: 100%;
  outline: none;
  color: #eee;
  font-size: 16px;
}

.headerItemsContainer {
  display: flex;
  color: #a1a5b0;
}

.headerItemsContainer > p {
  margin: 10px;
}

.headerActionsContainer {
  display: flex;
  align-items: center;
}

.headerActionsContainer > div {
  margin: 10px;
}

.themeLogoContainer {
  display: flex;
  background-color: #1c1c1e;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  padding: 15px;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.themeLogo {
  height: 25px;
}

.headerButton {
  background: linear-gradient(to right, #59f9b7, #66feea);
  padding: 15px 40px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  color: #000;
}
