.main {
  max-height: 50vh;
}

.mainContent {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}

.cardHighlight {
  flex: 0.25;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardContainer {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
  display: flex;
  margin-right: 20px;
}

.selectedCard {
  object-fit: contain;
  max-width: min(30vw, 40vh);
  max-height: 30vw;
}

.cardDetails {
  display: flex;
}

.cardTitle {
  font-size: 64px;
  font-weight: 800;
}

.cardNumber {
  color: #a1a5b0;
  font-size: 72px;
  align-self: center;
}

.owner {
  display: flex;
  margin: 10px 0;
  height: 50px;
}

.ownerImageContainer {
  margin: 0 5px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  object-fit: contain;
}

.ownerImageContainer > img {
  height: 100%;
  width: 100%;
}

.ownerDetails {
  display: flex;
  align-items: center;
  flex: 1;
}

.ownerNameAndHandle {
  flex: 1;
}

.ownerHandle {
  color: #00ebfe;
}

.ownerLink {
  padding: 12px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  height: 50px;
  width: 50px;
  border: 1px solid #fff;
  margin: 0 0 0 10px;
}

.ownerLink > img {
  height: 100%;
  width: 100%;
}
